
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
      
*{
  font-family: "Inconsolata" ;
}
.Header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;


}
.nav-items > ul {
  list-style-type: none;
  display: flex;

}
.nav-items > ul > li {
  padding: 10px ;
}

.logo {
  width: 100px;
}

.card  {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.card > img {
  width: 100%;
}
.restraunt-list {
  display: flex;
  flex-wrap :wrap;
}

.shimmer-card{
  width: 200px;
  height: 300px;
  background: rgb(153, 158, 159);
  border: 1px solid darkgray;
  padding: 10px;
  margin: 10px;
}

.menu-page{
  width: 600px;
  height: 100%;
  border: 1px solid rgb(250, 250, 250);
  padding: 10px;
  margin: 10px;
  
}

.menu-page > img {
  width: 70%;
}

.menu{

  display: flex;
  justify-content: space-evenly;
}